# Datasets and Raw Sources
backend/data/
backend/data/raw_sources/

# Model Weights and ML Checkpoints
backend/ml/check/
backend/ml/best_model.pt
*.pt
*.pth
*.onnx

# Credentials and Environment Variables (CRITICAL)
backend/firebase_key.json
.env
*.json

# Python and System Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# Archives
*.zip